@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

@layer components {
  .tab-item {
    @apply flex justify-center items-center text-sm md:text-base font-semibold cursor-pointer text-center shadow-bs3;
  }

  .tab-section {
    @apply px-3 py-5;
  }

  .detail-tab-title {
    @apply text-center font-bold text-normal xs:text-xl sm:text-2xl sm:mt-2 mb-8;
  }

  .fact-section-title {
    @apply text-center font-medium mb-3 border-b-2 border-b-blue-400 mt-4;
  }

  .fact-wrap {
    @apply mb-3 pb-3 border-b-2 border-b-blue-100;
  }

  .fact-item {
    @apply border-l-4 border-l-blue-600 pl-4;
  }

  .fact-type {
    @apply text-base font-medium;
  }

  .fact-detail {
    @apply text-base font-bold;
  }
}

* {
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fafafa;
}
