@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

@layer components {
  .tab-item {
    @apply flex justify-center items-center text-sm md:text-base font-semibold cursor-pointer text-center shadow-bs3 w-1/5;
  }
}

* {
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fafafa;
}
